.code-container {

    margin-top: 80px;

    :not(.partitioned) {
        text-align: right;

    }

    .partitioned {
        // text-align: center;
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 24px;

        direction: ltr;
        // padding-left: 15px;
        // letter-spacing: 30px;
        padding-top: 15px;
        padding-left: 22px;
        letter-spacing: 33px;
        margin-bottom: 35px;

        border: 0;
        background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 45px 1px;
        background-repeat: repeat-x;
        background-position-x: right;
        height: 60px;
        width: 270px;
        min-width: 220px;
    }

    .txt {
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 18px;
        margin: 15px;

    }

    .err-code {
        display: flex;
        color: #6A4DEC;
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        text-align: right;
        margin: 15px;
        margin-bottom: 90px;
        margin-top: 160px;
        text-decoration: none;

        :hover {
            cursor: pointer;
        }

    }
}

.get-container {
    width: 100%;
    height: 80%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #000000;
    background: #FFFFFF;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0px;

    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */


    .title {
        margin: 15px;
    }

    .content {
        letter-spacing: -0.01em;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

    }

    .txt-lable {
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        background-color: #fff;
        width: max-content;
        display: flex;
        position: relative;
        top: 40px;
        right: 30px;
        padding: 0 5px;
    }

    h4 {
        font-family: 'Arimo';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        text-align: right;
        margin: 30px;
        margin-bottom: 15px;

    }

    .auth-form {
        display: flex;
        flex-direction: column;

        .txt-input {
            width: 334px;
            height: 56px;
            margin: 15px;
            border: 1.5px solid #DBD5E0;
            border-radius: 4px;
            font-family: 'Arimo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */
            padding-right: 15px;
            text-align: right;
            letter-spacing: 0.15px;

        }

        .radio {
            display: flex;
            flex-direction: row;
            font-family: 'Arimo';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            justify-content: space-around;

            div {
                display: flex;
            }



            .radio-btn {
                width: 22px;
                height: 22px;
                color: #6A4DEC;
                margin-left: 7px;
                accent-color: #6A4DEC;
            }

        }

    }

    .btn {
        font-family: 'Fredoka';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 16px;
        inline-size: max-content;
        margin-top: 25px;
        width: 335px;
        height: 52px;
        padding: 0;

    }

    img {
        margin-top: 25px;
    }


}