@font-face {
    font-family: Montserrat;
    src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Opensans;
    src: url(~@/assets/fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: GreatVibes;
    src: url(~@/assets/fonts/GreatVibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(~@/assets/fonts/Roboto/Roboto-Regular/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(~@/assets/fonts/Roboto/Roboto-Bold/Roboto-Bold.ttf);
}

@font-face {
    font-family: sofia-pro-regular;
    src: url(~@/assets/fonts/Sofia-Pro-Regular/sofiapro.otf);
}

@font-face {
    font-family: sofia-pro-medium;
    src: url(~@/assets/fonts/Sofia-Pro-Medium/sofiamedium.otf);
}

@font-face {
    font-family: sofia-pro-bold;
    src: url(~@/assets/fonts/Sofia-Pro-Bold/sofiabold.otf);
}

@font-face {
    font-family: assistant;
    src: url(~@/assets/fonts/Assistant/Assistant-VariableFont_wght.ttf);
}

@font-face {
    font-family: Fredoka;
    src: url(~@/assets/fonts/Fredoka/Fredoka-VariableFont_wdthwght.ttf);
}

@font-face {
    font-family: arimo;
    src: url(~@/assets/fonts/Arimo/Arimo-VariableFont_wght.ttf);
}