// SETUP
@import "setup/_typography";
@import "setup/_variables";
@import "setup/_mixins";
@import "setup/_functions";
// BASICS
@import "basics/_helpers";
@import "basics/_base";
@import "basics/_layout";
// COMPONENTS

@import "components/_welcome";
@import "components/_get-started";
@import "components/_pref";
@import "components/events";

.saveme-logo {

    // position: absolute;
    // width: 176.06px;
    // height: 45px;
    // left: 99px;
    // top: 80px;
    display: flex;
    margin: 0 auto;
    padding-top: 20%;

}

// @import "components/_home-page";